body {
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );

  text-shadow: 5px;
}
h1,
h2,
h3,
p,
ul,
li {
  color: blanchedalmond;
}
.box {
  box-shadow: 10px 5px 5px rgb(106, 107, 189);
}
.card-text {
  color: black;
}
.container {
  margin: 100px 300px;
  width: max-content;
  border-radius: 4px;
}
.navbar-brand {
  font-weight: bold;
  font-size: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-text {
  font-weight: bolder;
  font-size: 35px;
}
.navbar {
  background-color: rgb(118, 155, 255);
}
.skills {
  display: flex;
  text-indent: 1px;
}
